nav.navbar
	.container
		ul.navbar-list
			li.navbar-item
				a.navbar-link(href="/products") Products
			li.navbar-item
				a.navbar-link(href="/stat") Statistic
			li.navbar-item
				a.navbar-link(href="/logout") Logout
